<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>

<form th:object="${member}" th:action="@{/member/new}" th:method="post">
    <div><label>아이디
        <input type="text" th:field="*{memberId}">
    </label></div>
    <div><label>비밀번호
        <input type="text" th:field="*{password}">
    </label></div>
    <div><label>나이
        <input type="text" th:field="*{age}">
    </label></div>
    <div><label>결혼여부
        <input type="text" th:field="*{isMarried}">
    </label></div>
    <button type="submit">저장</button>
</form>

</body>
</html>